* {
  margin: 0;
  padding: 0;
  color: rgb(2, 2, 2);
  background-color: rgb(249, 245, 245);
}

@media (max-width: 767px) {
  body {
    width: 360px;
    height: auto;
  }
  .cetele {
    width: 300px;
    margin: 10px 30px;
    margin-top: 20px;
    background-color: rgb(235, 234, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(182, 173, 5);
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
    gap: 10px;
  }

  .h2-place {
    padding: 8px;
    border-radius: 15px;
    border: 3px solid rgb(182, 173, 5);
  }
  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .cumle {
    font-size: 22px;
    margin-bottom: 150px;
    margin-left: 18px;
    font-weight: bold;
  }

  .counter {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 80px;
    font-size: 70px;
    border-radius: 150px;
    border: 3px solid rgb(182, 173, 5);
  }

  .reset {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    font-weight: 700;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    border: 3px solid rgb(182, 173, 5);
  }

  .yapilacak {
    margin-left: 80px;
    border: 3px solid rgb(182, 173, 5);
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 30px;
  }
  #inputPlace {
    width: 230px;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid rgb(182, 173, 5);
  }
  .toDoField {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: auto;
    gap: 10px;
  }
  #ulLer {
    font-size: 22px;
    margin-left: 60px;
    margin-bottom: 150px;
  }
  #ekleButton {
    width: 60px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid rgb(182, 173, 5);
  }

  .yasinler h2 {
    width: 100px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 3px solid rgb(182, 173, 5);
  }

  .yasinSay {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 150px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    margin-top: 80px;
  }
  .yasinEkle {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 130px;
    border: 3px solid black;
  }
  .azalt {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 180px;
    border: 3px solid black;
  }

  .rutinler {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .unutma {
    margin-top: 50px;
    padding: 8px;
    border-radius: 15px;
    border: 3px solid rgb(182, 173, 5);
  }
  .labeller {
    margin-right: 50px;
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
    gap: 15px;
    margin-bottom: 20px;
  }
  input[type="checkbox"] {
    width: 17px;
    height: 17px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: rgb(199, 196, 142);
  }
  input[type="checkbox"]:checked {
    background-color: rgb(241, 241, 237);
    border: 7px solid rgb(7, 4, 29);
  }
}
